@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TAEBAEKfont';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKfont.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.bolder {
  -webkit-text-stroke: 1px black; /* 테두리 두께와 색상 */
}

.bolder-w {
  -webkit-text-stroke: 1px white; /* 테두리 두께와 색상 */
}

.bolder-p {
  -webkit-text-stroke: 1px #ff6d79; /* 테두리 두께와 색상 */
}

input,
progress {
  accent-color: #ff6d79;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding-top: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}

.ck-editor {
  min-height: 8rem;
  max-height: 8rem;
  min-width: 30rem;
  max-width: 30rem;
}

.ck-editor__editable {
  min-height: 8rem;
  max-height: 8rem;
  min-width: 30rem;
  max-width: 30rem;
  margin-bottom: 10px;
}
