@tailwind base;
@tailwind components;
@tailwind utilities;

.volume-container {
  width: 100%; /* 컨테이너의 너비 */
  height: 20px; /* 컨테이너의 높이 */
}

.volume-bar {
  margin-left: 10px;
  border-radius: 10px;
  height: 60%; /* 볼륨바 높이 */
  background-color: pink; /* 볼륨바 색상 */
  width: 0%; /* 초기 볼륨바 너비 */
}

.stream-container {
  padding: 0;
}

#message-list {
  overflow-y: auto; /* 내용이 높이를 초과할 경우 스크롤바 표시 */
}
