@tailwind base;
@tailwind components;
@tailwind utilities;

.volume-container {
    width: 100%; /* 컨테이너의 너비 */
    background-color: #eee; /* 볼륨바 배경색 */
    height: 20px; /* 컨테이너의 높이 */
}

.volume-bar {
    height: 100%; /* 볼륨바 높이 */
    background-color: #4CAF50; /* 볼륨바 색상 */
    width: 0%; /* 초기 볼륨바 너비 */
}
  

.stream-container {
    padding: 0;
}

#chat {
    height: 300px; /* 채팅창의 높이를 300px로 고정 */
}

#message-list {
    height: 280px;
    overflow-y: auto; /* 내용이 높이를 초과할 경우 스크롤바 표시 */
}

