.upload-btn {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  padding: 12px 24px; /* Padding around the text */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Text size */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.upload-btn:hover {
  background-color: #45a049; /* Darker shade of green for hover effect */
}

.post-btn {
  background-color: red; /* 빨간 배경 */
  color: white; /* 흰색 글씨 */
  padding: 12px 24px; /* 패딩 */
  border: none; /* 테두리 없음 */
  border-radius: 4px; /* 모서리 둥글게 */
  cursor: pointer; /* 마우스 오버시 포인터 커서 */
  margin-left: 10px; /* 왼쪽 마진 */
}

.post-btn:hover {
  background-color: darkred; /* 호버시 어두운 빨간색 */
}
