.star-field {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  animation: twinkle linear infinite;
  overflow-x: hidden;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
