.content {
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/oksusu.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-section {
  display: flex;
  justify-content: space-between;
  border: 5px solid black;
  border-radius: 20px;
  padding: 5px;
}

.login-section > div {
  width: 48%;
}

.login-section img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
}
