.content {
  color: black;
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('/public/login-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes ani {
	from {
		transform: translate(0, 100px);
    opacity: 0;
	}
	to {
		transform: translate(0, 0);
    opacity: 1;
	}
}

.login{
  animation: ani 1s 1;
}